body{
  section#shop_nav{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 35px 0px;
    .nav_meniu{
      width: 500px;
      display: inline-block;
      text-decoration: none;
      a{
        text-decoration: none;
      }
    }
    .nav_next{
      width: 400px;
      direction: rtl;

      i, a{
        text-decoration: none;
        right: 0px;
        position: relative;
      }
    }
  }
  section#item_box{
    max-width: 900px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    .item_box_left{
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;
      width: 450px;
      height: 600px;
      margin-bottom: 20px;
    }
    .item_box_right{
      width: 350px;
      padding-left: 50px;
      button{
        width: 100%;
        padding: 20px 0px;
        margin: 20px 0px;
      }
      #holder, #holder2{
        padding-top: 10px;
        border-top: 1px solid grey;
        height: 50px;
        overflow-y: hidden;
        margin-bottom: 13px;
        h2{
          margin-top: 0px;
          text-align: left;
          padding-bottom: 100px;
        }
        p{
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
      }
      h3{
        i{
          display: inline-block;
          margin-left: 196px;
          cursor: pointer;
        }
      }
      .quantity{
        width: 25%;
      }
      .size {
        width: 100%;
        padding: 10px;
        margin: 20px 0px;
        margin-top: 5px;
        select{
          border-radius: none;
          padding: 10px;
        }

      }

    }
  }
}
