$font-stack: 'Raleway', sans-serif;
$nav-color: #313131;
$nav-text-color: #fff;
$sq-2-color: rgba(138, 232, 236, 0.7);
$sq-3-color: rgba(255, 130, 138, 0.39);
$top-tp-color: rgba(255, 130, 138, 0.19);
$ft-color: rgba(228, 228, 228, 1);
$label-text-color: lightgrey;
$top-tp-sm-color: rgba(204, 186, 182, 0.15);
$text-color: #313131;
$nav-lw-text: #939393;

body{
  margin:0 auto;
  font-family: $font-stack;
  .header{
    position: absolute;
    top:0;
    width: 100%;
    background-color: $ft-color;
    line-height: 40px;
    -webkit-box-shadow: inset 0px 2px 8px 0px rgba(184,184,184,1);
    -moz-box-shadow: inset 0px 2px 8px 0px rgba(184,184,184,1);
    box-shadow: inset 0px 2px 8px 0px rgba(184,184,184,1);
    .footer_shop{
      max-width: 880px;
      margin: auto;
      span{
        float: right;
        padding: 0 20px;
        letter-spacing: 2px;
      }
      a{
        text-decoration: none;
        float: right;
        border-left: 1px solid rgba(147, 147, 147, 0.75);
        padding-left: 10px;
        color: #313131;
      }
    }
  }
  nav{
    position: absolute;
    top: 40px;
    background-color: $nav-color;
    width: 100%;
    line-height:60px;
    .navbar{
      text-align: center;
      a{
        text-decoration: none;
        color: lightgrey;
        padding: 0 30px;
        &:hover{
          color: $nav-text-color;
        }
      }
      #brand{
        font-size: 26px;
      }
      .bar_icon{
        display: none;
        position: absolute;
        padding-top:6px;
      }
    }
  }
  h1{
    text-align: center;
    margin-top: 30px;
    color: #313131;
    line-height: 2px;
    padding-top: 25px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .color_back{
    position: absolute;
    top: 103px;
    background-color: $top-tp-sm-color;
    width: 100%;
    height: 118px;

  }
  h2{
    text-align: center;
    font-weight: 500;
    color: $text-color;
  }
  .shop_text{
    padding-bottom: 35px;
  }
  .collection_text{
    text-align: center;
    margin: 0 auto;
    h5{
      line-height: 5px;
      margin-top: 0;
    }
  }
  #faq_h2{
    margin-top: 50px;
    font-weight: 500;
    text-transform: uppercase;

  }
  #about_us_h2{
    margin-top: 0px;
    font-weight: 500;
    text-transform: uppercase;
  }
  h5{
    text-align: center;
    font-size: 21px;
    color: $text-color;
    line-height: 1px;
    padding-bottom: 15px;
    font-weight: 300;
  }
  section#costumer_care{
    margin-top: 103px;
    text-align: center;
    padding-top: 20px;
    background-color: $top-tp-sm-color;
    .costumer_text{
      margin: 0 auto;
      width: 40%;
      text-align: center;
    }
    .costumer_box{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      width: 600px;
      height: 190px;
      margin: 0 auto;
        .visit_us{
          height: 300px;
        }
        .costumer{
          height: 100px;
          margin: 10px 2.5px;
          .costumer_button{

            button{
              padding: 5px 20px;
              float: right;
              background-color: #313131;
              color: #fff;
              border: none;
              letter-spacing: 1.5px;
            }
          }
          .costumer_input{
            input{
              width: 200px;
              display: block;
              padding: 10px;
              margin-bottom: 5px;
              border: none;
              background-color: rgba(204, 186, 182, 0.3);
            }

        }
        textarea{
          width: 200px;
          padding: 15.5px;
          border: none;
          background-color: rgba(204, 186, 182, 0.3);
        }

      }
    }
  }
  section#costumer{
    margin-top: 103px;
    text-align: center;
    padding-top: 20px;
    background-color: $top-tp-sm-color;
    .costumer_text{
      margin: 0 auto;
      width: 40%;
      text-align: center;
    }
    .visit_us_box{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      width: 650px;
      height: 340px;
      margin: 40px auto;
        .visit_us{
          padding: 0px;
          h3, p {
            text-align: left;
            margin: 30px 0px;
            font-weight: 500;
            padding: 0 10px;
          }
          p{
            font-weight: 300;
            line-height: 0px;
            color: $text-color;

          }
          h3{
            line-height: 0px;
          }
        }


    }
  }
  section#about_us{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
    font-weight: 300;
    color: $text-color;
  }
  section#faq{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 20px auto;
    .faq{
      padding: 50px 5px;
      width: 40%;
      margin: 0 auto;
      font-weight: 300;
       h3{
         font-weight: 500;
         color: $text-color;
       }

    }
  }
  section#hero{
        display: -webkit-flex;
		    display: flex;
		    -webkit-flex-wrap: wrap;
		    flex-wrap: wrap;
		    max-width: 900px;
		    margin: 0px auto;
		    padding: 10px;
        padding-top: 103px;
        // position: absolute;


        .parent{
          position: relative;
          top: 45%;
          transform: translateY(-50%);

            h3{
              color:$text-color;
              font-weight: 100;
              font-size: 36px;
              line-height: 20px;
              letter-spacing: 2px;
            }
            h2{
              color:$text-color;
              font-weight: 300;
              font-size: 38px;
              line-height: 0px;
              letter-spacing: 5px;
            }
            a{
              text-decoration: none;
              color: $text-color;
              border-top: 1px solid #313131;
              padding-top: 5px;
              letter-spacing: 2px;
            }
        }
          .square_2{
            background-color: $sq-2-color;


          }
          .square_3{
            background-color: $sq-3-color;
          }
    .hero{
      height: 450px;
      margin: 0 auto;
      width: 50%;
      text-align: center;
      img{
        height: 450px;
      }
    }
  }
  .bottom_color{
    position: absolute;
    top: 553px;
    height: 450px;
    width: 100%;
    background-color: $top-tp-color;
    z-index: -1;
  }
  section.lookbook_collection{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .lookbook{
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;
      width: 350px;
      height: 480px;
      margin: 0 auto;
      margin-bottom: 30px;
      -webkit-transition-property: width, height; /* Safari */
     -webkit-transition-duration: 2s; /* Safari */
     transition-property: background-size;
     transition-duration: 1s;
        &:hover{
          background-size: 120% auto;
        }
    }
  }
  .color_back_lookbook{
    position: absolute;
    top: 103px;
    background-color: $top-tp-sm-color;
    width: 100%;
    height: 156px;
  }
  .lookbook_text_top{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 0;
    text-align: center;
    h2{
      line-height: 5px;
      color: $text-color;
    }
    h3{
      font-weight: 300;
      color: $text-color;
    }
  }
  .lookbook_text{
    text-align: center;
    margin: 30px 34px 60px 0;
    a{
      text-decoration: none;
    }
    h3{
      display: inline;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 0 10px;
      color: $text-color;

    }
  }
  section.new_collection{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
    transition-property: background-color;
    transition-duration: 3s;
     &:hover .bottom_collection_text1{
      background-color: red;
     }
        .shop_img{
          margin: 0px auto;
			    width: 25%;
          img{
            max-width: 250px;
            margin: 0;
            padding: 0;
            padding-bottom: 0px;
            margin-bottom: 0px;
          }
          .shop_img_text{
            margin-top: 5px;
            height: 55px;
            h3{
              margin: 0 auto;
              font-weight: 300;
              letter-spacing: 2px;
              color: $label-text-color;
              font-size: 12px;

            }
            h4{
              margin: 0 auto;
              font-weight: 300;
              letter-spacing: 2px;
              font-size: 18px;
              text-transform: uppercase;
              color: $text-color;
              font-size: 16px;

            }
          }
        }
        .img_collection{
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-position: center;
          width: 350px;
          height: 480px;
          margin: 0 auto;
          margin: 50px auto 0px auto;
			    width: 30%;
          margin-bottom: 100px;
          -webkit-transition-property: background-size; /* Safari */
           -webkit-transition-duration: 2s; /* Safari */
           transition-property: background-size;
           transition-duration: 2s;
             &:hover .bottom_collection_text_1{
               display: block !important;

               h4{
                 color: white;
               }
             }
             &:hover .bottom_collection_text{
               display: none;
             }
              &:hover{
                background-size: 140% auto;
              }


          .bottom_collection_text{
            margin: 0 auto;
  			    width: 100%;
            background-color: $ft-color;
            height: 110px;
            max-width: 315px;
            position: relative;
            top: 470px;
              h3{
                position: relative;
                top: 40%;
                transform: translateY(-50%);
                margin: 0 auto;
                text-align: center;
                font-weight: 300;
                letter-spacing: 2px;
                color: $text-color;
              }
              h4{
              position: relative;
              top: 40%;
              transform: translateY(-50%);
              margin: 0 auto;
              text-align: center;
              // padding: 5px;
              font-weight: 300;
              // letter-spacing: 2px;
              font-size: 24px;
              text-transform: uppercase;
              color: $text-color;
            }
      }
      .bottom_collection_text_1{
        margin: 0 auto;
        width: 100%;
        background-color: rgb(255, 130, 138);
        height: 110px;
        max-width: 315px;
        position: relative;
        top: 470px;
        display: none;
        transition: background-color 3s ease-out;
          &:hover{
            background-color: rgba(138, 232, 236,1.0);
          }
          a{
            text-decoration: none;
            h4{
              position: relative;
              top: 45px;
              margin: 0 auto;
              text-align: center;
              font-weight: 300;
              font-size: 16px;
              text-transform: uppercase;
              color: $text-color;
            }
          }
      }
    }
  }
  section#subscribe{
    display: -webkit-flex;
    display: flex;

      .subscribe{
        width: 300px;
        height: 125px;
        margin: auto;
          input{
            width: 294px;
            height: 40px;
          }
          input::placeholder{
            padding-left: 25px;
            font-weight: 300;
            font-size: 16px;
          }
          button{
            width: 300px;
            height: 40px;
            margin-top: 20px;
            background-color: #313131;
            border: none;
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 300;
          }
      }
  }
  section#sales{

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: $nav-color;
    margin: 50px 0px 0px 0px;
    padding: 25px 0;
    .sales{
      margin: 40px 10px;
      max-height: 450px;
      max-width: 450px;

      img{
        max-height: 450px;
        max-width: 450px;

      }
      h4{
        position: relative;
        top: -355px;
        text-align: center;
        font-size: 38px;
        color: #fff;
        text-transform: uppercase;
        background-color: rgba(82, 84, 99, 0.62);
        width: 300px;
        margin-left: 80px;
        font-weight: 400;
      }
      h2{
        position: relative;
        top: -395px;
        text-align: center;
        font-size: 52px;
        color: #fff;
        background-color: rgba(82, 84, 99, 0.62);
        margin:0 30px;
        font-weight: 600;

      }
    }
  }
  section#contact{
    position: relative;
    color:$nav-lw-text;
    background-color: $ft-color;
    .contact{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      padding: 25px 0px;
      .side_line{
        position: absolute;
        top: 23px;
        height: 157px;
        width: 1px;
        background-color: rgba(147, 147, 147, 0.35);
      }
      #line_1{
        left:0px;
      }

      #line_2{
        left: 0px;
      }
      #line_3{
        left: 0px;
      }

      .text{
        margin: 0px 30px;
        padding-top: 0;
        padding: 0 20px;
        position: relative;
          i{
            padding: 0 10px;
          }
          a{
            text-decoration: none;
            color: $nav-lw-text;
          }
      }
    }
  }
  footer#bottom{
    text-align: center;
    background-color: $nav-color;
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    box-shadow: none;
    a{
      text-decoration: none;
      color: #fff;
    }
  }
}
@media only screen and (max-width: 1064px){
body{
  nav{
    line-height: 64px;
    .navbar{
      #brand{
        float: left;
      }
      .meniu{
        display: none;
      }
      .bar_icon{
        display: inline-block;
        text-align: right;
        right: 24px;
      }
    }
  }
  section.new_collection{
        max-width: 930px;
        .shop_img{
          margin: 0px auto;
          width: 300px;
          img{
            max-width: 300px;
          }
        }
        .img_collection{
          margin: 50px auto 0px auto;
          width: 250px;
          img{
            max-width: 250px;
          }
          .bottom_collection_text{
            width: 250px;
            height: 70px;
            max-width: 250px;

            font-size: 16px;
            h4{
              font-size: 16px;
            }
      }
    }
  }
}

}
@media only screen and (max-width: 940px){
  body{
    .top_footer{
      .footer_shop{
        max-width: 540px;
        margin: auto;
      }
    }
    section#hero{
      .hero{
        height: 550px;
        width: 550px;
        .parent{
          h2{
            font-size: 16px;
          }
        }
        img{
          height: 550px;
        }
      }
      .square_2{
        height: 200px;
      }
      .square_3{
        height: 200px;
      }
    }
    .bottom_color{
      top: 1153px;
      height: 550px;
    }
    section.new_collection{
      max-width: 620px;
          .shop_img{
            margin: 0px auto;
            width: 300px;
            img{
              max-width: 300px;
            }
          }
          .img_collection{
            margin: 50px auto 0px auto;
            width: 450px;

            img{
              max-width: 450px;
            }
            .bottom_collection_text{
              width: 100%;
              height: 70px;
              max-width: 450px;

              font-size: 16px;
              h4{
                font-size: 16px;
              }
        }
      }
    }
    section#sales{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      .sales{
        max-width: 550px;
        margin: 20px 0;
        img{
          max-width: 550px;
        }
      }
    }
    section#contact{
      .contact{
        .text{
          margin: 0px 10px;
          padding-top: 0;
            i{
              padding: 10px 10px;
            }
        }
      }
    }
  }
}
@media only screen and (max-width: 760px){
  body{
    .top_footer{
      .footer_shop{
        max-width: 520px;
        margin: auto;
      }
    }
    .color_back{
      height: 116px;
    }
    section.new_collection{
      -webkit-align-content: center;
      align-content: center;
          .shop_img{
            margin: 0px auto;
            max-width: 300px;
          }
          .img_collection{
            margin: 50px auto 0px auto;
            width: 450px;

            img{
              max-width: 450px;
            }
            .bottom_collection_text{
              width: 100%;
              height: 70px;
              max-width: 450px;

              font-size: 16px;
              h4{
                font-size: 16px;
              }
        }
      }
    }
    section#costumer{
      margin-top: 103px;
      text-align: center;
      padding-top: 20px;
      height: 710px;
      margin-bottom: 40px;
      .costumer_text{
        width: 80%;
      }
      .visit_us_box{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 300px;
        height: 340px;
        margin: 40px auto;
        margin-top: 0px;
          .visit_us{
            width: 300px;
            padding: 0px;

            iframe{
              width: 300px;
            }
            h3{
              text-align: center;
              margin: 30px 0px;
              font-weight: 500;
              padding: 5px 0;
              padding-top: 0px;
            }
            p{
              font-weight: 300;
              text-align: center;
              margin: 30px 0px;
              line-height: 0px;
              color: $text-color;
              font-size: 16px;
              font-weight: 300;

            }
            h3{
              line-height: 0px;
            }
          }


      }
    }
  }
}
@media only screen and (max-width: 620px){
  body{
    .top_footer{
      .footer_shop{
        max-width: 320px;
        margin: auto;
      }
    }
    section#faq{
      max-width: 620px;
      margin: 20px auto;
      .faq{
        padding: 50px 5px;
        width: 80%;
        margin: 0 auto;
        font-weight: 300;
        text-align: center;
         h3{
           font-weight: 500;
           color: $text-color;
         }

      }
    }
    section#costumer_care{
      margin-top: 103px;
      text-align: center;
      padding-top: 20px;
      height: 460px;
      margin-bottom: 40px;
      .costumer_text{
        width: 70%;
        margin:0 auto;
      }
      .costumer_box{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 220px;
        margin: 0 auto;
          .costumer{
            // height: 100px;
            max-width: 220px;
            margin: 10px 2.5px;
            .costumer_button{
              button{
                padding: 5px 20px;
                float: right;
                border: none;
                letter-spacing: 1.5px;
              }
            }
            .costumer_input{
              input{
                width: 210px;
                display: block;
                padding: 10px;
                margin-bottom: 5px;
                border: none;
              }

          }
          textarea{
            width: 200px;
            padding: 15.5px;
            border: none;
          }

        }
      }
    }
    section#hero{
      .hero{
        height: 380px;
        width: 380px;
        img{
          height: 380px;
        }
      }
      .square_2{
        height: 200px;
      }
      .square_3{
        height: 200px;
      }
    }
    .bottom_color{
      top: 883px;
      height: 380px;
    }
    .color_back{
      height: 108px;
    }
    section.new_collection{
      max-width: 320px;
          .shop_img{
            margin: 0px auto;
            max-width: 300px;
          }
          .img_collection{
            margin: 50px auto 0px auto;
            width: 300px;

            img{
              max-width: 300px;
            }
            .bottom_collection_text{
              width: 100%;
              height: 70px;
              max-width: 300px;

              font-size: 16px;
              h4{
                font-size: 16px;
              }
        }
      }
    }
    h1{
      font-size: 24px;
    }
h5{
  font-size: 12px;
}
section#sales{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  .sales{
    max-width: 350px;
    max-height: 350px;
    margin: 20px 0;
    img{
      max-width: 350px;
      max-height: 350px;
    }
    h4{
      position: relative;
      top: -250px;
      text-align: center;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      background-color: rgba(82, 84, 99, 0.62);
      width: 191px;
      // padding-left: 50px;
      margin-left: 80px;
      font-weight: 400;
    }
    h2{
      position: relative;
      top: -250px;
      text-align: center;
      font-size: 30px;

      font-weight: 600;

    }
  }
}
    section#contact{
      position: relative;
      color:#939393;
      background-color: rgba(228, 228, 228, 1);
      .contact{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: center;
        align-content: center;
        padding: 25px 0px;
        max-width: 400px;
        margin: 0 auto;
          #contact_store{display: none;}
          #contact_logo{display: none;}
        #line_1{
          top: 10px;
          display: none;
        }
        #line_2{
          left: 0px;
          display: none;
        }
        #line_3{
          top: 10px;
          display: none;
        }
        .text{
          text-align: center;
          margin: 0px;
          padding-top: 0;
          padding: 0 20px;
          position: relative;
          width: 400px;
            i{
              padding:10px 10px;
            }
        }
      }
    }
  }
}
@media only screen and (max-width: 420px){
  body{
    .top_footer{
      .footer_shop{
        max-width: 250px;
        margin: auto;
      }
    }
    .lookbook_text{
      font-size: 14px;
      margin: 10px 0 30px 0;
    }
    section#hero{
      .hero{
        height: 250px;
        width: 250px;
        img{
          height: 250px;
        }
      }
      .square_2{
        height: 100px;
        .parent{
          a{
            font-size: 12px;
          }
          h2{
            font-size: 16px;
          }
          h3{
            font-size: 12px;
          }
        }
      }
      .square_3{
        height: 100px;
        .parent{
          a{
            font-size: 12px;
          }
          h2{
            font-size: 16px;
          }
          h3{
            font-size: 12px;
          }
        }
      }
    }
    .bottom_color{
      top: 553px;
      height: 250px;
    }
    .color_back{
      height: 103px;
    }
    h1{
      padding-bottom: 35px;
    }
    section.new_collection{
        max-width: 250px;
          .shop_img{
            margin: 0px auto;
            max-width: 250px;
              img{
                max-width: 250px;
              }
            .shop_img_text{
              font-size: 10px;
            }
          }
          .img_collection{
            margin: 50px auto 0px auto;
            width: 250px;

            img{
              max-width: 250px;
            }
            .bottom_collection_text{
              width: 100%;
              height: 70px;
              max-width: 250px;

              font-size: 16px;
              h4{
                font-size: 16px;
              }
        }
      }
    }
    h1{
      font-size: 24px;
    }
h5{
  font-size: 10px;
  line-height: 20px;
}
section#about_us{
  width: 80%;
}
section#sales{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  .sales{
    max-width: 250px;
    max-height: 250px;
    margin: 20px 0;
    img{
      max-width: 250px;
      max-height: 250px;
    }
    h4{
      position: relative;
      top: -185px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      background-color: rgba(82, 84, 99, 0.62);
      width: 191px;
      // padding-left: 50px;
      margin-left: 30px;
      font-weight: 400;
    }
    h2{
      position: relative;
      top: -185px;
      text-align: center;
      font-size: 20px;

      font-weight: 600;

    }
  }
}
    section#contact{
      position: relative;
      color:#939393;
      background-color: rgba(228, 228, 228, 1);
      .contact{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: center;
        align-content: center;
        padding: 25px 0px;
        max-width: 400px;
        margin: 0 auto;
          #contact_store{display: none;}
          #contact_logo{display: none;}
        #line_1{
          top: 10px;
          display: none;
        }
        #line_2{
          left: 0px;
          display: none;
        }
        #line_3{
          top: 10px;
          display: none;
        }
        .text{
          text-align: center;
          margin: 0px;
          padding-top: 0;
          padding: 0 20px;
          position: relative;
          width: 400px;
            i{
              padding:10px 10px;
            }
        }
      }
    }
    footer#bottom{
      font-size: 10px;
    }
  }
}
