body{
  margin:0 auto;
  background-color: lightgrey;
  h1{
    text-align: center;
  }
  section#hero{
        display: -webkit-flex;
		    display: flex;
		    -webkit-flex-wrap: wrap;
		    flex-wrap: wrap;
		    max-width: 1000px;
		    margin: 0 auto;
		    padding: 10px;

        .parent{
          position: relative;
          top: 50%;
          transform: translateY(-50%);

        }

          .square_1{
            background-color: darkgrey;
          }
          .square_2{
            background-color: grey;


          }
          .square_3{
            background-color: grey;
          }
          .square_4{
            background-color: darkgrey;
          }

    .hero{
      height: 500px;
      margin: 0 auto;
      width: 50%;
      text-align: center;


    }
  }
  section#new_collection{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
        .img_collection{
          margin: 50px auto 0px auto;
			    width: 30%;

          img{
            max-width: 300px;
            margin: 0;
            padding: 0;
            padding-bottom: 0px;
            margin-bottom: 0px;
          }
    }
  }
  section#bottom_collection{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
        .bottom_collection{
          margin: 0 auto;
			    width: 30%;
          background-color: #e8e8e8;
          height: 110px;
          margin-top: -5px;

          h3{
            position: relative;
            top: 40%;
            transform: translateY(-50%);
            margin: 0 auto;
            text-align: center;
            padding: 5px;
          }

    }
  }
  section#subscribe{
    display: -webkit-flex;
    display: flex;
    // width: 400px;
    // height: 250px;
    background-color: lightgrey;
      .subscribe{
        width: 300px;
        height: 50px;
        margin: auto;
          input{
            width: 300px;
            height: 50px;
          }
          input::placeholder{
            padding-left: 25px;
            font-weight: 300;
            font-size: 16px;
          }
          button{
            width: 300px;
            height: 50px;
            margin-top: 20px;
          }
      }
  }
}
