body {
  margin: 0 auto;
  background-color: lightgrey; }
  body h1 {
    text-align: center; }
  body section#hero {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px; }
    body section#hero .parent {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
    body section#hero .square_1 {
      background-color: darkgrey; }
    body section#hero .square_2 {
      background-color: grey; }
    body section#hero .square_3 {
      background-color: grey; }
    body section#hero .square_4 {
      background-color: darkgrey; }
    body section#hero .hero {
      height: 500px;
      margin: 0 auto;
      width: 50%;
      text-align: center; }
  body section#new_collection {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 0px;
    margin-bottom: 0px; }
    body section#new_collection .img_collection {
      margin: 50px auto 0px auto;
      width: 30%; }
      body section#new_collection .img_collection img {
        max-width: 300px;
        margin: 0;
        padding: 0;
        padding-bottom: 0px;
        margin-bottom: 0px; }
  body section#bottom_collection {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto; }
    body section#bottom_collection .bottom_collection {
      margin: 0 auto;
      width: 30%;
      background-color: #e8e8e8;
      height: 110px;
      margin-top: -5px; }
      body section#bottom_collection .bottom_collection h3 {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        margin: 0 auto;
        text-align: center;
        padding: 5px; }
  body section#subscribe {
    display: -webkit-flex;
    display: flex;
    background-color: lightgrey; }
    body section#subscribe .subscribe {
      width: 300px;
      height: 125px;
      margin: auto; }
      body section#subscribe .subscribe input {
        width: 300px;
        height: 50px; }
      body section#subscribe .subscribe input::placeholder {
        padding-left: 25px;
        font-weight: 300;
        font-size: 16px; }
      body section#subscribe .subscribe button {
        width: 300px;
        height: 50px;
        margin-top: 20px; }
  body section#sales {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: black;
    margin: 50px 0px; }
    body section#sales .sales {
      margin: 40px 20px;
      max-height: 450px;
      max-width: 450px; }
      body section#sales .sales img {
        max-height: 450px;
        max-width: 450px; }
      body section#sales .sales h4 {
        position: relative;
        top: -355px;
        text-align: center;
        font-size: 38px;
        color: #fff;
        text-transform: uppercase; }
      body section#sales .sales h2 {
        position: relative;
        top: -395px;
        text-align: center;
        font-size: 52px;
        color: #fff; }

/*# sourceMappingURL=style.css.map */
